modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
APP_NAME = "tattvashila"
CORS_ORIGINS = "*"
WDS_SOCKET_PORT = "443"
ENABLE_HEALTH_CHECK = "false"
